<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KH_NET_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KH_NET_UI.Properties.Settings>
            <setting name="KHI_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="KHI_FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="KHI_Donation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KHI_Posts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KHI_Elite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KHI_Leethax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KHI_Points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KH_AutoRelog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KHI_Cookies" serializeAs="String">
                <value />
            </setting>
            <setting name="KH_NeverRelog" serializeAs="String">
                <value>False</value>
            </setting>
        </KH_NET_UI.Properties.Settings>
    </userSettings>
</configuration>